@use "../abstract/variables" as *;

.nav{
    width: 100%;
    position: relative;
    height: 12vh;
    display: flex;
    
    .nav__bar{
        position: relative;
        width: 100%;
        background-color: #000000;
        
        &::after{
            content: "";
            position: absolute;
            background-color: #000000;
            width: 2px;
            height: 100%;
            right:-1px;
            z-index: 1;
        }
    }
    .nav__logo{
        position: relative;
        height: 100%;
        width: auto;
    }

}