@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.hero{
    height: 100svh;
    width: 100%;
    background-color: $clr-principal;
    background-image: url(/src/assets/img/graph-paper-white.webp);
    background-position: right;
    @include flex(space-between, center, column, $gap: .5rem);
    text-align: center;
    overflow: hidden;
    margin-bottom: 2rem;

    .hero__text{
        opacity: 0;
        transform: translateY(10vh);
        transition: tranform 0.5s ease-out, opacity 0.5s ease-out;
        
        &.is-animating{
            will-change: transform, opacity;
        }
        &.is-visible{
            transform: translateY(0);
        }
    }
    
}