@use "../abstract/variables" as *;
@use "../abstract/mixins" as *;

.us{
    position: relative;
    height: 300lvh;
    background-color: $clr-principal;
    background-image: url(/src/assets/img/graph-paper-white.webp);
    background-position: right;
}