
@font-face {
    font-family: 'robotoRegular';
    src: url('/src/assets/fonts/Roboto/Roboto-Regular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
  @font-face {
    font-family: 'robotoBold';
    src: url('/src/assets/fonts/Roboto/Roboto-Bold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }


@font-face {
    font-family: 'neueRegular';
    src: url('/src/assets/fonts/PP_Neue_Machina/PPNeueMachina-PlainRegular.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
@font-face {
    font-family: 'neueBold';
    src: url('/src/assets/fonts/PP_Neue_Machina/PPNeueMachina-PlainUltrabold.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }