$clr-principal: #f7931c;
$clr-rosa: #f95047;

$robotoRegular: 'robotoRegular' , sans-serif;
$robotoBold: 'robotoBold' , sans-serif;
$neueRegular: 'neueRegular' , sans-serif;
$neueBold: 'neueBold' , sans-serif;

